# Fancy stuff #
###############
# * - ignores all files
# !/**/ - unignores directories
# !*.* - unignores files with an extension
*
!/**/
!*.*
!Makefile

# Compiled source #
###################
*.o

# Misc. files #
###############
*.txt
*.zip
*.pdf
*.docx
*.pptx